{% extends "layout.html" %}
{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.25.0/adyen.css"
          crossorigin="anonymous">

    <div id="payment-page">
        <div class="container">
            <div class="checkout-component-container">
                {% if method == 'api_only' %}
                    <body>
                    <button id="pay-button" onclick="payClick()">Pay Here</button>
                    <form method="post" action="" id="adyenForm"
                          name="adyenForm" onsubmit="return formValidate(this ,'default' );" autocomplete="off">
                    </form>
                    </body>
                    <script>
                        let twintBody = `{"paymentMethod":{"type":"twint"}}`

                        function payClick() {
                            fetch('/api/initiatePayment', {
                                method: 'POST',
                                body: twintBody,
                                headers: {
                                    "Content-Type": "application/json"
                                }
                            }).then(response => response.json())
                                .then(response => {
                                    console.log(response);
                                    let adyenForm = document.getElementById("adyenForm");
                                    adyenForm.setAttribute("action", response["action"]["url"]);
                                    for (const [key, value] of Object.entries(response["action"]["data"])) {
                                        console.log(key, value)
                                        let field = document.createElement("input");
                                        field.setAttribute("name", key);
                                        field.setAttribute("value", value);
                                        adyenForm.appendChild(field);
                                    }
                                    adyenForm.submit();
                                });
                        }
                    </script>
                {% else %}
                    {% if method == 'securedfields' %}
                        <div id="component">
                            <label>
                                <span>Card number:</span>
                                <span data-cse="encryptedCardNumber"></span>
                            </label>
                            <label>
                                <span>Expiry date:</span>
                                <span data-cse="encryptedExpiryDate"></span>
                            </label>
                            <label>
                                <span>CVV/CVC:</span>
                                <span data-cse="encryptedSecurityCode"></span>
                            </label>
                        </div>
                    {% else %}
                        <div id="component" class="payment">
                            <!-- Component will be rendered here -->
                        </div>
                    {% endif %}
                    {% if method == 'googlepay' %}
                        <script src="https://pay.google.com/gp/p/js/pay.js"></script>
                    {% endif %}
                    <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.25.0/adyen.js"
                            crossorigin="anonymous"></script>
                    <script id="client-key" type="application/json">{{ client_key|tojson }}</script>
                    <script id="integration-type" type="application/json">{{ method|tojson }}</script>
                    <script src="{{ url_for('static', filename='js/adyen-implementation.js') }}"></script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}