{% extends "layout.html" %}
{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.7.0/adyen.css"
          integrity="sha384-sh96qY2G0gI/SWEA7mUoROU6e1DT3KyE36KQRTT4t5bfd/lz6WFU8AbV7GxgKIbt"
          crossorigin="anonymous">

    <div id="payment-page">
        <div class="container">
            <div class="checkout-component-container">
                {% if method == 'securedfields' %}
                    <div id="component">
                        <label>
                            <span>Card number:</span>
                            <span data-cse="encryptedCardNumber"></span>
                        </label>
                        <label>
                            <span>Expiry date:</span>
                            <span data-cse="encryptedExpiryDate"></span>
                        </label>
                        <label>
                            <span>CVV/CVC:</span>
                            <span data-cse="encryptedSecurityCode"></span>
                        </label>
                    </div>
                {% else %}
                    <div id="component" class="payment">
                        <!-- Component will be rendered here -->
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.7.0/adyen.js"
            integrity="sha384-F4mDVJnXWLEimdArmPr+ypkU+hbrV1mVAyA4UnP2aHvThSyx2t+iD0pYoGcWSd6E"
            crossorigin="anonymous"></script>

    <script id="client-key" type="application/json">{{ client_key|tojson }}</script>
    <script id="integration-type" type="application/json">{{ method|tojson }}</script>

    <script src="{{ url_for('static', filename='js/adyen-implementation.js') }}"></script>
{% endblock %}